data_test.xlsx
data_test2.xlsx
test.xlsx
test3.xlsx
test5.xlsx
new.xlsx
test2s.xlsx
test22.xlsx
testnew.xlsx
preprocessing/PipelineRun_2024_02_16-04_55_10_PM/Plots_metrics.png
preprocessing/PipelineRun_2024_02_16-05_47_53_PM/Plots_metrics.png
preprocessing/PipelineRun_2024_02_16-07_00_32_PM/Plots_metrics.png
preprocessing/PipelineRun_2024_02_16-10_22_14_PM/Plots/RankedModelsByMetric.png
preprocessing/PipelineRun_2024_02_16-10_35_00_PM/Plots/RankedModelsByMetric.png
preprocessing/PipelineRun_2024_02_16-10_35_00_PM/Plots/Files/classification_SVC_2024_02_16_10_44_59_PM.xlsx
