data_test.xlsx
data_test2.xlsx
test.xlsx
test3.xlsx
test5.xlsx
new.xlsx
test2s.xlsx
test22.xlsx
testnew.xlsx
preprocessing/PipelineRun_2024_02_16-04_55_10_PM/Plots_metrics.png
preprocessing/PipelineRun_2024_02_16-05_47_53_PM/Plots_metrics.png
preprocessing/PipelineRun_2024_02_16-07_00_32_PM/Plots_metrics.png
preprocessing/PipelineRun_2024_02_16-10_22_14_PM/Plots/RankedModelsByMetric.png
preprocessing/PipelineRun_2024_02_16-10_35_00_PM/Plots/RankedModelsByMetric.png
preprocessing/PipelineRun_2024_02_16-10_35_00_PM/Plots/Files/classification_SVC_2024_02_16_10_44_59_PM.xlsx
preprocessing/PipelineRun_2024_02_20-03_29_54_PM/Files/BreastCancerReport.html
preprocessing/PipelineRun_2024_02_20-03_36_15_PM/Files/BreastCancerReport.html
preprocessing/PipelineRun_2024_02_20-03_36_15_PM/Files/classification_RidgeClassifier_2024_02_20_03_50_24_PM.xlsx
preprocessing/PipelineRun_2024_02_20-03_36_15_PM/Plots/RankedModelsByMetric.png
preprocessing/PipelineRun_2024_02_23-07_39_59_PM/Files/BreastCancerReport.html
preprocessing/PipelineRun_2024_02_23-08_08_19_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-08_13_40_PM/Files/classification_RidgeClassifier_2024_02_23_08_22_42_PM.xlsx
preprocessing/PipelineRun_2024_02_23-08_13_40_PM/Plots/RankedModelsByMetric.png
preprocessing/PipelineRun_2024_02_23-08_13_40_PM/Plots/Test_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_23-08_13_40_PM/Plots/Training_ConfMatrix_ComplementNB.png
preprocessing/PipelineRun_2024_02_23-08_13_40_PM/Plots/Training_ConfMatrix_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_23-08_13_40_PM/Plots/Training_ConfMatrix_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_23-08_13_40_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-08_13_40_PM/Plots/Training_ConfMatrix_MLPClassifier.png
preprocessing/PipelineRun_2024_02_23-08_13_40_PM/Plots/Training_ConfMatrix_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_23-08_13_40_PM/Plots/Training_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_23-08_13_40_PM/Plots/Training_ConfMatrix_SGDClassifier.png
preprocessing/PipelineRun_2024_02_23-08_13_40_PM/Plots/Training_ConfMatrix_SVC.png
preprocessing/PipelineRun_2024_02_23-08_28_55_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-09_01_54_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-09_10_01_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-09_50_06_PM/Files/classification_LogisticRegression_2024_02_23_10_10_40_PM.xlsx
preprocessing/PipelineRun_2024_02_23-09_50_06_PM/Plots/RankedModelsByMetric.png
preprocessing/PipelineRun_2024_02_23-09_50_06_PM/Plots/Test_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-09_50_06_PM/Plots/Training_ConfMatrix_ComplementNB.png
preprocessing/PipelineRun_2024_02_23-09_50_06_PM/Plots/Training_ConfMatrix_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_23-09_50_06_PM/Plots/Training_ConfMatrix_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_23-09_50_06_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-09_50_06_PM/Plots/Training_ConfMatrix_MLPClassifier.png
preprocessing/PipelineRun_2024_02_23-09_50_06_PM/Plots/Training_ConfMatrix_Perceptron.png
preprocessing/PipelineRun_2024_02_23-09_50_06_PM/Plots/Training_ConfMatrix_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_23-09_50_06_PM/Plots/Training_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_23-09_50_06_PM/Plots/Training_ConfMatrix_SGDClassifier.png
preprocessing/PipelineRun_2024_02_23-09_50_06_PM/Plots/Training_ConfMatrix_SVC.png
preprocessing/PipelineRun_2024_02_23-10_12_50_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-10_16_26_PM/Files/classification_LogisticRegression_2024_02_23_10_37_56_PM.xlsx
preprocessing/PipelineRun_2024_02_23-10_16_26_PM/Plots/RankedModelsByMetric.png
preprocessing/PipelineRun_2024_02_23-10_16_26_PM/Plots/Test_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-10_16_26_PM/Plots/Training_ConfMatrix_ComplementNB.png
preprocessing/PipelineRun_2024_02_23-10_16_26_PM/Plots/Training_ConfMatrix_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_23-10_16_26_PM/Plots/Training_ConfMatrix_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_23-10_16_26_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-10_16_26_PM/Plots/Training_ConfMatrix_MLPClassifier.png
preprocessing/PipelineRun_2024_02_23-10_16_26_PM/Plots/Training_ConfMatrix_Perceptron.png
preprocessing/PipelineRun_2024_02_23-10_16_26_PM/Plots/Training_ConfMatrix_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_23-10_16_26_PM/Plots/Training_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_23-10_16_26_PM/Plots/Training_ConfMatrix_SGDClassifier.png
preprocessing/PipelineRun_2024_02_23-10_16_26_PM/Plots/Training_ConfMatrix_SVC.png
preprocessing/PipelineRun_2024_02_23-10_51_56_PM/Plots/Training_ConfMatrix_ComplementNB.png
preprocessing/PipelineRun_2024_02_23-10_51_56_PM/Plots/Training_ConfMatrix_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_23-10_51_56_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-10_51_56_PM/Plots/Training_ConfMatrix_Perceptron.png
preprocessing/PipelineRun_2024_02_23-10_51_56_PM/Plots/Training_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_23-10_51_56_PM/Plots/Training_ConfMatrix_SGDClassifier.png
preprocessing/PipelineRun_2024_02_23-10_51_56_PM/Plots/Training_ConfMatrix_SVC.png
preprocessing/PipelineRun_2024_02_23-10_55_36_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-11_02_37_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-11_04_17_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-11_07_22_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-11_10_45_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-11_10_45_PM/Plots/TrainingCurve_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-11_12_59_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-11_18_24_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Files/classification_RidgeClassifier_2024_02_23_11_28_16_PM.xlsx
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/RankedModelsByMetric.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/Test_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/Training_ConfMatrix_ComplementNB.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/Training_ConfMatrix_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/Training_ConfMatrix_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/Training_ConfMatrix_MLPClassifier.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/Training_ConfMatrix_Perceptron.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/Training_ConfMatrix_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/Training_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/Training_ConfMatrix_SGDClassifier.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/Training_ConfMatrix_SVC.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/TrainingCurve_ComplementNB.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/TrainingCurve_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/TrainingCurve_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/TrainingCurve_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/TrainingCurve_MLPClassifier.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/TrainingCurve_Perceptron.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/TrainingCurve_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/TrainingCurve_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/TrainingCurve_SGDClassifier.png
preprocessing/PipelineRun_2024_02_23-11_23_35_PM/Plots/TrainingCurve_SVC.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Files/classification_RidgeClassifier_2024_02_24_12_01_06_AM.xlsx
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/RankedModelsByMetric.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/Test_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/Training_ConfMatrix_ComplementNB.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/Training_ConfMatrix_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/Training_ConfMatrix_HistGradientBoostingClassifier.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/Training_ConfMatrix_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/Training_ConfMatrix_MLPClassifier.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/Training_ConfMatrix_Perceptron.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/Training_ConfMatrix_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/Training_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/Training_ConfMatrix_SGDClassifier.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/Training_ConfMatrix_SVC.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/TrainingCurve_ComplementNB.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/TrainingCurve_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/TrainingCurve_HistGradientBoostingClassifier.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/TrainingCurve_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/TrainingCurve_LogisticRegression.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/TrainingCurve_MLPClassifier.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/TrainingCurve_Perceptron.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/TrainingCurve_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/TrainingCurve_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/TrainingCurve_SGDClassifier.png
preprocessing/PipelineRun_2024_02_23-11_37_05_PM/Plots/TrainingCurve_SVC.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Files/classification_LogisticRegression_2024_02_24_10_02_38_PM.xlsx
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/RankedModelsByMetric.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/Test_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/Training_ConfMatrix_ComplementNB.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/Training_ConfMatrix_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/Training_ConfMatrix_HistGradientBoostingClassifier.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/Training_ConfMatrix_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/Training_ConfMatrix_MLPClassifier.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/Training_ConfMatrix_Perceptron.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/Training_ConfMatrix_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/Training_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/Training_ConfMatrix_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/Training_ConfMatrix_SVC.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/TrainingCurve_ComplementNB.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/TrainingCurve_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/TrainingCurve_HistGradientBoostingClassifier.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/TrainingCurve_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/TrainingCurve_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/TrainingCurve_MLPClassifier.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/TrainingCurve_Perceptron.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/TrainingCurve_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/TrainingCurve_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/TrainingCurve_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-01_31_30_PM/Plots/TrainingCurve_SVC.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Files/classification_LogisticRegression_2024_02_24_10_56_11_PM.xlsx
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/RankedModelsByMetric.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/Test_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/Training_ConfMatrix_ComplementNB.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/Training_ConfMatrix_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/Training_ConfMatrix_HistGradientBoostingClassifier.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/Training_ConfMatrix_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/Training_ConfMatrix_MLPClassifier.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/Training_ConfMatrix_Perceptron.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/Training_ConfMatrix_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/Training_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/Training_ConfMatrix_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/Training_ConfMatrix_SVC.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/TrainingCurve_ComplementNB.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/TrainingCurve_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/TrainingCurve_HistGradientBoostingClassifier.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/TrainingCurve_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/TrainingCurve_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/TrainingCurve_MLPClassifier.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/TrainingCurve_Perceptron.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/TrainingCurve_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/TrainingCurve_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/TrainingCurve_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-10_10_17_PM/Plots/TrainingCurve_SVC.png
preprocessing/PipelineRun_2024_02_24-10_26_54_AM/Plots/Training_ConfMatrix_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-10_26_54_AM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-10_26_54_AM/Plots/Training_ConfMatrix_Perceptron.png
preprocessing/PipelineRun_2024_02_24-10_26_54_AM/Plots/Training_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-10_26_54_AM/Plots/Training_ConfMatrix_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-10_26_54_AM/Plots/TrainingCurve_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-10_26_54_AM/Plots/TrainingCurve_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-10_26_54_AM/Plots/TrainingCurve_Perceptron.png
preprocessing/PipelineRun_2024_02_24-10_26_54_AM/Plots/TrainingCurve_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-10_26_54_AM/Plots/TrainingCurve_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Files/classification_LogisticRegression_2024_02_24_10_45_52_AM.xlsx
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/RankedModelsByMetric.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/Test_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/Training_ConfMatrix_ComplementNB.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/Training_ConfMatrix_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/Training_ConfMatrix_HistGradientBoostingClassifier.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/Training_ConfMatrix_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/Training_ConfMatrix_MLPClassifier.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/Training_ConfMatrix_Perceptron.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/Training_ConfMatrix_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/Training_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/Training_ConfMatrix_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/Training_ConfMatrix_SVC.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/TrainingCurve_ComplementNB.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/TrainingCurve_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/TrainingCurve_HistGradientBoostingClassifier.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/TrainingCurve_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/TrainingCurve_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/TrainingCurve_MLPClassifier.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/TrainingCurve_Perceptron.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/TrainingCurve_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/TrainingCurve_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/TrainingCurve_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-10_37_42_AM/Plots/TrainingCurve_SVC.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/RankedModelsByMetric.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/Training_ConfMatrix_ComplementNB.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/Training_ConfMatrix_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/Training_ConfMatrix_HistGradientBoostingClassifier.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/Training_ConfMatrix_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/Training_ConfMatrix_MLPClassifier.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/Training_ConfMatrix_Perceptron.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/Training_ConfMatrix_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/Training_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/Training_ConfMatrix_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/Training_ConfMatrix_SVC.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/TrainingCurve_ComplementNB.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/TrainingCurve_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/TrainingCurve_HistGradientBoostingClassifier.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/TrainingCurve_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/TrainingCurve_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/TrainingCurve_MLPClassifier.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/TrainingCurve_Perceptron.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/TrainingCurve_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/TrainingCurve_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/TrainingCurve_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-10_54_45_AM/Plots/TrainingCurve_SVC.png
preprocessing/PipelineRun_2024_02_24-11_12_39_AM/Plots/Training_ConfMatrix_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-11_12_39_AM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-11_12_39_AM/Plots/Training_ConfMatrix_Perceptron.png
preprocessing/PipelineRun_2024_02_24-11_12_39_AM/Plots/Training_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-11_12_39_AM/Plots/Training_ConfMatrix_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-11_12_39_AM/Plots/TrainingCurve_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-11_12_39_AM/Plots/TrainingCurve_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-11_12_39_AM/Plots/TrainingCurve_Perceptron.png
preprocessing/PipelineRun_2024_02_24-11_12_39_AM/Plots/TrainingCurve_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-11_12_39_AM/Plots/TrainingCurve_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-11_14_21_AM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-11_14_21_AM/Plots/Training_ConfMatrix_Perceptron.png
preprocessing/PipelineRun_2024_02_24-11_14_21_AM/Plots/Training_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-11_14_21_AM/Plots/Training_ConfMatrix_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-11_14_21_AM/Plots/TrainingCurve_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-11_14_21_AM/Plots/TrainingCurve_Perceptron.png
preprocessing/PipelineRun_2024_02_24-11_14_21_AM/Plots/TrainingCurve_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-11_14_21_AM/Plots/TrainingCurve_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Files/classification_LogisticRegression_2024_02_24_11_39_48_AM.xlsx
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/RankedModelsByMetric.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/Test_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/Training_ConfMatrix_ComplementNB.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/Training_ConfMatrix_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/Training_ConfMatrix_HistGradientBoostingClassifier.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/Training_ConfMatrix_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/Training_ConfMatrix_MLPClassifier.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/Training_ConfMatrix_Perceptron.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/Training_ConfMatrix_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/Training_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/Training_ConfMatrix_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/Training_ConfMatrix_SVC.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/TrainingCurve_ComplementNB.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/TrainingCurve_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/TrainingCurve_HistGradientBoostingClassifier.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/TrainingCurve_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/TrainingCurve_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/TrainingCurve_MLPClassifier.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/TrainingCurve_Perceptron.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/TrainingCurve_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/TrainingCurve_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/TrainingCurve_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-11_16_27_AM/Plots/TrainingCurve_SVC.png
preprocessing/PipelineRun_2024_02_24-12_12_08_AM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-12_12_08_AM/Plots/Training_ConfMatrix_Perceptron.png
preprocessing/PipelineRun_2024_02_24-12_12_08_AM/Plots/TrainingCurve_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-12_12_08_AM/Plots/TrainingCurve_Perceptron.png
preprocessing/PipelineRun_2024_02_24-12_16_52_AM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-12_16_52_AM/Plots/TrainingCurve_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-12_19_33_AM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-12_19_33_AM/Plots/Training_ConfMatrix_Perceptron.png
preprocessing/PipelineRun_2024_02_24-12_19_33_AM/Plots/Training_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-12_19_33_AM/Plots/Training_ConfMatrix_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-12_19_33_AM/Plots/TrainingCurve_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-12_19_33_AM/Plots/TrainingCurve_Perceptron.png
preprocessing/PipelineRun_2024_02_24-12_19_33_AM/Plots/TrainingCurve_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-12_19_33_AM/Plots/TrainingCurve_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-12_21_56_AM/Plots/Training_ConfMatrix_ComplementNB.png
preprocessing/PipelineRun_2024_02_24-12_21_56_AM/Plots/Training_ConfMatrix_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-12_21_56_AM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-12_21_56_AM/Plots/Training_ConfMatrix_Perceptron.png
preprocessing/PipelineRun_2024_02_24-12_21_56_AM/Plots/Training_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-12_21_56_AM/Plots/Training_ConfMatrix_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-12_21_56_AM/Plots/Training_ConfMatrix_SVC.png
preprocessing/PipelineRun_2024_02_24-12_21_56_AM/Plots/TrainingCurve_ComplementNB.png
preprocessing/PipelineRun_2024_02_24-12_21_56_AM/Plots/TrainingCurve_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-12_21_56_AM/Plots/TrainingCurve_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-12_21_56_AM/Plots/TrainingCurve_Perceptron.png
preprocessing/PipelineRun_2024_02_24-12_21_56_AM/Plots/TrainingCurve_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-12_21_56_AM/Plots/TrainingCurve_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-12_21_56_AM/Plots/TrainingCurve_SVC.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Files/classification_LogisticRegression_2024_02_24_12_35_45_AM.xlsx
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/RankedModelsByMetric.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/Test_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/Training_ConfMatrix_ComplementNB.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/Training_ConfMatrix_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/Training_ConfMatrix_HistGradientBoostingClassifier.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/Training_ConfMatrix_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/Training_ConfMatrix_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/Training_ConfMatrix_MLPClassifier.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/Training_ConfMatrix_Perceptron.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/Training_ConfMatrix_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/Training_ConfMatrix_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/Training_ConfMatrix_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/Training_ConfMatrix_SVC.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/TrainingCurve_ComplementNB.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/TrainingCurve_DecisionTreeClassifier.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/TrainingCurve_HistGradientBoostingClassifier.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/TrainingCurve_KNeighborsClassifier.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/TrainingCurve_LogisticRegression.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/TrainingCurve_MLPClassifier.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/TrainingCurve_Perceptron.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/TrainingCurve_RandomForestClassifier.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/TrainingCurve_RidgeClassifier.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/TrainingCurve_SGDClassifier.png
preprocessing/PipelineRun_2024_02_24-12_25_10_AM/Plots/TrainingCurve_SVC.png
